<!DOCTYPE html>
<html>
  <head>
    <title>Angular2Reddit</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'reddit' %>
    <%#= javascript_pack_tag 'forms' %>
    <%= javascript_pack_tag 'http'%>
  </head>

  <body>
    <!-- Menu Bar -->
    <div class="ui menu">
      <div class="ui container">
        <a href="#" class="header item">
          <%= image_tag 'ng-book-2-minibook' %>
          ng-book
        </a>
        <div class="header item borderless">
          <h1 class="ui header">
            Angular 2 Inventory App
          </h1>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
